# Composer files
composer.phar
vendor/

# NPM files
node_modules/

# Local configs
config/autoload/*.local.php
config/development.config.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Misc.
.vscode/
config/application/
hosts.yml
.phpunit.result.cache