# zend-expressive-skeleton specific
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    fileExtensions:
        # Standard php files and .dist config files
        - php
        - dist
    excludes_analyse:
        - src/Script/*
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - message: '#Variable method call on Laminas\\Permissions\\Acl\\Acl.#'
          path: src/App/Middleware/AclMiddlewareFactory.php
        - message: '#Parameter \#2 \$timestamp of function date expects (int|(int\|null)), int\|false given.#'
          path: src/App/Handler/LogsHandler.php
        - message: '#Method App\\Model\\Document::getReadableMTime\(\) should return string but returns string\|false.#'
          path: src/App/Model/Document.php