<div id="modal-view-geojson" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="map">
                    <div id="map-legend"></div>
                </div>
            </div>
        </div>
    </div>
</div>
