<div class="modal" id="modal-view-text" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <pre class="mb-0"><code></code></pre>
            </div>
        </div>
    </div>
</div>
